<section class="container" *ngIf="!(authService.isLoggedIn$ | async)">
  <h1 class="large text-primary text-center">Login</h1>
  <form [formGroup]="form" class="form" (ngSubmit)="submitLogin()" novalidate="">
    <fieldset>
      <div class="auth-container">
        <p class="lead"><i class="fas fa-user"></i> Email Login</p>
        <mat-form-field>
          <input
            formControlName="email"
            matInput
            placeholder="Enter your email"
            id="email"
            type="text"
          />
          <mat-error *ngIf="!!email && !!email.errors && !!email.touched && !!email.invalid"
            >Email is invalid</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <input
            formControlName="password"
            matInput
            placeholder="Enter your password"
            id="password"
            [type]="hide ? 'password' : 'text'"
          />
          <mat-icon class="nav-item" matSuffix (click)="hide = !hide"
            >{{ hide ? 'visibility' : 'visibility_off' }}
          </mat-icon>
          <mat-error
            *ngIf="
              !!password &&
              !!password.errors &&
              !!password.touched &&
              !!password.errors.cannotContainSpace
            "
            >{{ 'Password must not contains spaces' }}</mat-error
          >
        </mat-form-field>

        <div class="control-group">
          <!-- Button -->
          <div class="controls">
            <button class="btn btn-success nav-item" type="submit">Login</button>
          </div>
        </div>
      </div>
      <p class="my-1 text-center expanded">
        <a [routerLink]="['/auth/signup']" routerLinkActive="active">New User Signup?</a>
      </p>
    </fieldset>
  </form>
</section>
