<section class="container">
  <h1 class="large text-primary">
    Posts
  </h1>
  <p class="lead"><i class="fas fa-user"></i> Welcome to the community</p>

  <div class="post-form">
    <div class="post-form-header bg-primary">
      <h3>Say Something...</h3>
    </div>
    <form class="form my-1">
      <textarea cols="30" rows="5" placeholder="Create a post"></textarea>
      <input type="submit" value="Submit" class="btn btn-dark my-1" />
    </form>
    <div class="posts">
      <div class="post bg-white my-1 p-1">
        <div>
          <a href="profile.html">
            <img
              class="round-img"
              src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200"
              alt=""
            />
            <h4>John Doe</h4>
          </a>
        </div>

        <div>
          <p class="my-1">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione dolores officia
            assumenda dolor maiores sint pariatur quia voluptatibus voluptate perspiciatis commodi
            possimus nemo aut, voluptas expedita facilis amet hic culpa.
          </p>
          <button class="btn"><i class="fas fa-thumbs-up"></i> <span>4</span></button>
          <button class="btn">
            <i class="fas fa-thumbs-down"></i>
          </button>
          <a href="post.html" class="btn btn-primary">
            Discussion
          </a>
        </div>
      </div>

      <div class="post bg-white my-1 p-1">
        <div>
          <a href="profile.html">
            <img
              class="round-img"
              src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200"
              alt=""
            />
            <h4>John Doe</h4>
          </a>
        </div>

        <div>
          <p class="my-1">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione dolores officia
            assumenda dolor maiores sint pariatur quia voluptatibus voluptate perspiciatis commodi
            possimus nemo aut, voluptas expedita facilis amet hic culpa.
          </p>
          <button class="btn"><i class="fas fa-thumbs-up"></i> <span>4</span></button>
          <button class="btn">
            <i class="fas fa-thumbs-down"></i>
          </button>
          <a href="post.html" class="btn btn-primary">
            Discussion
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
