<section class="container">
  <h1 class="large text-primary">
    Create Your Profile
  </h1>
  <p class="lead">
    <i class="fas fa-user"></i> Let's get some information to make your profile stand out
  </p>
  <small>* = required fields</small>
  <form class="form">
    <div class="form-group">
      <select name="status">
        <option value="0">* Select Professional Status</option>
        <option value="Developer">Developer</option>
        <option value="Junior Developer">Junior Developer</option>
        <option value="Senior Developer">Senior Developer</option>
        <option value="Manager">Manager</option>
        <option value="Student or Learning">Student or Learning</option>
        <option value="Instructor">Instructor or Teacher</option>
        <option value="Intern">Intern</option>
        <option value="Other">Other</option>
      </select>
      <small class="form-text">Give us an idea of where you are at in your career</small>
    </div>
    <div class="form-group">
      <input type="text" placeholder="Company" name="company" />
      <small class="form-text">Could be your own company or one you work for</small>
    </div>
    <div class="form-group">
      <input type="text" placeholder="Website" name="website" />
      <small class="form-text">Could be your own or a company website</small>
    </div>
    <div class="form-group">
      <input type="text" placeholder="Location" name="location" />
      <small class="form-text">City & state suggested (eg. Boston, MA)</small>
    </div>
    <div class="form-group">
      <input type="text" placeholder="* Skills" name="skills" />
      <small class="form-text"
        >Please use comma separated values (eg. HTML,CSS,JavaScript,PHP)</small
      >
    </div>
    <div class="form-group">
      <input type="text" placeholder="Github Username" name="githubusername" />
      <small class="form-text"
        >If you want your latest repos and a Github link, include your username</small
      >
    </div>
    <div class="form-group">
      <textarea placeholder="A short bio of yourself" name="bio"></textarea>
      <small class="form-text">Tell us a little about yourself</small>
    </div>

    <div class="my-2">
      <button type="button" class="btn btn-light">
        Add Social Network Links
      </button>
      <span>Optional</span>
    </div>

    <div class="form-group social-input">
      <i class="fab fa-twitter fa-2x"></i>
      <input type="text" placeholder="Twitter URL" name="twitter" />
    </div>

    <div class="form-group social-input">
      <i class="fab fa-facebook fa-2x"></i>
      <input type="text" placeholder="Facebook URL" name="facebook" />
    </div>

    <div class="form-group social-input">
      <i class="fab fa-youtube fa-2x"></i>
      <input type="text" placeholder="YouTube URL" name="youtube" />
    </div>

    <div class="form-group social-input">
      <i class="fab fa-linkedin fa-2x"></i>
      <input type="text" placeholder="Linkedin URL" name="linkedin" />
    </div>

    <div class="form-group social-input">
      <i class="fab fa-instagram fa-2x"></i>
      <input type="text" placeholder="Instagram URL" name="instagram" />
    </div>
    <input type="submit" class="btn btn-primary my-1" />
    <a class="btn btn-light my-1" href="dashboard.html">Go Back</a>
  </form>
</section>
