<section class="landing">
  <div class="dark-overlay">
    <div class="landing-inner">
      <h1 class="x-large hide-sm">Developer Connector</h1>
      <p class="lead">
        Create developer profile/portfolio, share posts, and get help from other developers
      </p>
      <div class="buttons">
        <a routerLink="/auth/signup" routerLinkActive="router-link-active" class="btn btn-primary"
          >Sign Up</a
        >
        <a routerLink="/auth/login" class="btn btn">Login</a>
      </div>
      <!-- <div class="line"></div> -->
      <small class="p-5">
        Programmer: An organism that transforms caffeine into computer code
      </small>
    </div>
  </div>
</section>
