.auth-container {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: auto;
}

.auth-container > * {
  width: 100%;
}

h1 {
  margin-top: 5rem;
}

fieldset {
  border: none;
}

// @media (max-width: 700px) {
@media (max-width: 35rem) {
  .auth-container {
    width: 100%;
  }
}
