<section class="container">
  <a routerLink="/developers/create-profile" class="btn btn-primary">Edit My Profile</a>
  <a routerLink="/developers/profile" class="btn">Back to Developers</a>

  <div class="profile-grid my-1">
    <!-- Top -->
    <div class="profile-top bg-primary p-2">
      <img class="round-img my-1" [src]="imageUrl" alt="" />

      <h1 class="large">John Doe</h1>
      <p class="lead">Developer at Microsoft</p>
      <p>Seattle, WA</p>
      <div class="icons my-1">
        <a href="#">
          <i class="fas fa-globe fa-2x"></i>
        </a>
        <a href="#">
          <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="#">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="#">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="#">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
      </div>
    </div>
    <!-- About -->
    <div class="profile-about bg-light p-2">
      <h2 class="text-primary">John's Bio</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, distinctio tempora.
        Obcaecati vero ad similique numquam. Commodi incidunt quia non!
      </p>
      <div class="line"></div>
      <h2 class="text-primary">Skill Set</h2>
      <div class="skills">
        <div class="p-1"><i class="fas fa-check"></i> HTML</div>
        <div class="p-1"><i class="fas fa-check"></i> CSS</div>
        <div class="p-1"><i class="fas fa-check"></i> JavaScript</div>
        <div class="p-1"><i class="fas fa-check"></i> Python</div>
      </div>
    </div>
    <!-- Experience -->
    <div class="profile-exp bg-white p-2">
      <h2 class="text-primary">Experiences</h2>
      <div>
        <h3>Microsoft</h3>
        <p>Oct 2011 - Current</p>
        <p><strong>Position: </strong> Senior Developer</p>
        <p>
          <strong>Description: </strong>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Perspiciatis in sed officiis, dolorem amet cum?
        </p>
      </div>
      <div>
        <h3>Sun Microsystems</h3>
        <p>Oct 2004 - Nov 2010</p>
        <p><strong>Position: </strong> Systems Admin</p>
        <p>
          <strong>Description: </strong>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Perspiciatis in sed officiis, dolorem amet cum?
        </p>
      </div>
    </div>
    <!-- Education -->
    <div class="profile-edu bg-white p-2">
      <h2 class="text-primary">Education</h2>
      <div>
        <h3>University Of Washington</h3>
        <p>Sep 1993 - June 1999</p>
        <p><strong>Degree: </strong> Masters</p>
        <p><strong>Field Of Study: </strong> Computer Science</p>
        <p>
          <strong>Description: </strong>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Perspiciatis in sed officiis, dolorem amet cum?
        </p>
      </div>
    </div>
    <!-- Github Repos -->
    <div class="profile-github">
      <h2 class="text-primary my-1"><i class="fab fa-github"></i> Github Repos</h2>
      <div class="repo bg-white my-1 p-1">
        <div>
          <h4><a href="#">Repo One</a></h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, tenetur.
          </p>
        </div>

        <div>
          <ul>
            <li class="badge badge-primary">Stars: 44</li>
            <li class="badge badge-dark">Watchers: 20</li>
            <li class="badge badge-light">Forks: 25</li>
          </ul>
        </div>
      </div>

      <div class="repo bg-white my-1 p-1">
        <div>
          <h4><a href="#">Repo Two</a></h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, tenetur.
          </p>
        </div>

        <div>
          <ul>
            <li class="badge badge-primary">Stars: 44</li>
            <li class="badge badge-dark">Watchers: 20</li>
            <li class="badge badge-light">Forks: 25</li>
          </ul>
        </div>
      </div>

      <div class="repo bg-white my-1 p-1">
        <div>
          <h4><a href="#">Repo One</a></h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, tenetur.
          </p>
        </div>

        <div>
          <ul>
            <li class="badge badge-primary">Stars: 44</li>
            <li class="badge badge-dark">Watchers: 20</li>
            <li class="badge badge-light">Forks: 25</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
