<nav class="navbar bg-dark">
  <h1>
    <a routerLink="home"> <i class="fas fa-code"></i> DevConnector </a>
  </h1>
  <ul class="li-center">
    <li
      class="nav-item dropdown"
      ngbDropdown
      *ngIf="authService.isLoggedIn$ | async; else anonymousUser"
    >
      <a class="nav-link dropdown-toggle" [matMenuTriggerFor]="menu">
        <i *ngIf="!useImageUrl" class="fas fa-user"></i>
        <span class="hide-sm">{{ ' Welcome ' + appUser?.userName }}</span>
        <div
          *ngIf="useImageUrl"
          mat-card-avatar
          class="act-header-image"
          [style.backgroundImage]="imageUrl"
        ></div>
      </a>
      <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/developers/profile">
          <i class="fas fa-suitcase" aria-hidden="true"></i><span> My Profile</span>
        </a>
        <a mat-menu-item (click)="logout()">
          <i class="fas fa-sign-out-alt" aria-hidden="true"></i> Log Out
        </a>
      </mat-menu>
    </li>
    <ng-template #anonymousUser>
      <li class="nav-item">
        <a class="nav-link" (click)="login()">
          <i class="fas fa-sign-in-alt" aria-hidden="true"></i> Login
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="signup()">
          <i class="fa fa-user-plus" aria-hidden="true"></i> Signup
        </a>
      </li>
    </ng-template>
  </ul>
  <ul>
    <li>
      <a routerLink="developers">
        <i class="fas fa-users"></i>
        <span class="hide-sm"> Developers</span>
      </a>
    </li>
    <li>
      <a routerLink="developers/posts">
        <i class="far fa-sticky-note"></i>
        <span class="hide-sm"> Posts</span>
      </a>
    </li>
    <li *ngIf="authService.isLoggedIn$ | async">
      <a routerLink="developers/dashboard">
        <i class="fas fa-user"></i>
        <span class="hide-sm"> Dashboard</span>
      </a>
    </li>
  </ul>
</nav>
