a {
  cursor: pointer;
}
.act-header-image {
  background-size: cover;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  float: right;
  border-radius: 2rem;
  height: 2rem;
  width: 2rem;
}
.laptop-icon {
  margin-right: 0.5rem;
  display: inline-block;
}
.li-center {
  margin: auto;
}
