<section class="container">
  <h1 class="large text-primary text-center">
    Sign Up
  </h1>
  <mat-error *ngIf="signupForm.errors">Invalid signup</mat-error>
  <form [formGroup]="signupForm" class="form-horizontal" (ngSubmit)="submitSignUp()" novalidate="">
    <fieldset>
      <div class="auth-container">
        <mat-form-field>
          <input
            formControlName="userName"
            matInput
            placeholder="Enter your username"
            id="userName"
            type="text"
          />
          <mat-hint *ngIf="!!userNameControl && userNameControl?.pending"
            >Checking for uniqueness...</mat-hint
          >
          <mat-error *ngIf="formControlError(userNameControl, 'shouldBeUniqueUserName')">{{
            'User Name is already in use'
          }}</mat-error>
          <mat-error *ngIf="formControlError(userNameControl, 'cannotContainSpace')">{{
            'User Name must not contain spaces'
          }}</mat-error>
          <mat-error *ngIf="formControlError(userNameControl, 'required')">{{
            'User Name is required'
          }}</mat-error>
          <mat-error *ngIf="formControlError(userNameControl, 'minlength')">
            User Name must be a minimum of {{ USERNAME_MINLENGTH }} characters
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            formControlName="email"
            matInput
            placeholder="Enter your email"
            id="email"
            type="text"
          />
          <mat-hint *ngIf="!!emailControl && emailControl?.pending"
            >Checking for uniqueness...</mat-hint
          >
          <mat-error *ngIf="formControlError(emailControl, 'email')">
            Email is invalid
          </mat-error>
          <mat-error *ngIf="formControlError(emailControl, 'shouldBeUniqueEmail')">
            Email already in use
          </mat-error>
        </mat-form-field>

        <div formGroupName="passwordGroup" class="auth-container">
          <mat-form-field>
            <input
              formControlName="password"
              matInput
              placeholder="Enter your password"
              id="password"
              [type]="hide ? 'password' : 'text'"
            />
            <mat-icon class="nav-item" matSuffix (click)="hide = !hide"
              >{{ hide ? 'visibility' : 'visibility_off' }}
            </mat-icon>
            <mat-error *ngIf="checkPasswordError('password', 'cannotContainSpace')">{{
              'Password must not contains spaces'
            }}</mat-error>
            <mat-error *ngIf="checkPasswordError('password', 'minlength')">
              Password must be a minimum of {{ PASSWORD_MINLENGTH }} characters
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              formControlName="confirmPassword"
              matInput
              placeholder="Confirm your password"
              id="confirmPassword"
              [type]="hide ? 'password' : 'text'"
            />
            <mat-error *ngIf="checkPasswordError()">{{ 'Passwords must match' }}</mat-error>
          </mat-form-field>
        </div>

        <mat-form-field>
          <input
            formControlName="avatarUrl"
            matInput
            placeholder="Enter your avatar url"
            id="avatarUrl"
            type="text"
          />
        </mat-form-field>
      </div>

      <div class="control-group auth-container">
        <!-- Button -->
        <div class="controls">
          <button
            mat-raised-button
            mat-button
            color="primary"
            [disabled]="formInvalid()"
            type="submit"
          >
            Sign Up
          </button>
        </div>
      </div>
      <p class="text-center expanded">
        <a [routerLink]="['/auth/login']" routerLinkActive="active">Already signed up?</a>
      </p>
    </fieldset>
  </form>
  <br />Dirty: {{ signupForm.dirty }} <br />Touched: {{ signupForm.touched }} <br />Valid:
  {{ signupForm.valid }} <br />Email: {{ signupForm.value.email }} <br />
</section>
