<section class="landing lady-shower">
  <div class="dark-overlay">
    <div class="landing-inner">
      <h1 class="x-large">We are sorry for the intrusion!</h1>
      <p class="lead">
        404 Page Not Found
      </p>
      <div class="buttons">
        <a routerLink="/home" class="btn btn-primary">Home</a>
      </div>
    </div>
  </div>
</section>
